<html>
  <head>
    <title>Statistics of <%= title %></title>
    <style type="text/css">
      table {
        border-collapse: collapse;
      }
      table th {
        background-color: #f0f0f0;
        border: 1px solid #bfbfbf;
	text-align: center;
	padding: 12px;
      }
      tr td {
        border: 1px solid #bfbfbf;
  	text-align: left;
	padding: 12px;
      }
    </style>
  </head>
  <body>
<%= content %>
  </body>
</html>
